<div class="Center">
    <h3>
        <img src="../assets/img/HuellaTitulo.jpeg" class="rounded-circle TamañoImg" alt="">
      Datos <span class="badge badge-secondary"></span></h3>
  <div class="row">
    <div class="col-sm-12">
        <div class="accordion" id="accordionExample">
            <div class="card Rosa">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link card" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Cliente  
                  </button>
                </h2>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Datos del Cliente</h5>
                    <div class="input-group mb-3">
                      <div class="input-group mb-3">
                        <div class="Tamaño" style="width: 220px;">
                          <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                          aria-describedby="inputGroup-sizing-default">
                      </div>
          
                      <div class="input-group mb-3">
                        <div class="Tamaño" style="width: 220px;">
                          <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                          aria-describedby="inputGroup-sizing-default">
                      </div>
          
                      <div class="input-group mb-3">
                        <div class="Tamaño" style="width: 220px;">
                          <span class="input-group-text" id="inputGroup-sizing-default">Direccion</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                          aria-describedby="inputGroup-sizing-default">
                      </div>
          
          
                      <div class="input-group mb-3">
                        <div class="" style="width: 220px;">
                          <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                          aria-describedby="inputGroup-sizing-default">
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card Rosa">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed card" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Mascota
            </button>
          </h2>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
           

            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Datos Mascota</h5>
                      <div class="input-group mb-3">
                        <div class="input-group mb-3">
                          <div class="Tamaño" style="width: 220px;">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                        </div>
            
                        <div class="input-group mb-3">
                            <div class="Tamaño" style="width: 220px;">
                              <span class="input-group-text" id="inputGroup-sizing-default">Raza</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-default">
                          </div>
              
                          <div class="input-group mb-3">
                            <div class="Tamaño" style="width: 220px;">
                              <span class="input-group-text" id="inputGroup-sizing-default">Peso</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                              aria-describedby="inputGroup-sizing-default">
                          </div>
                    <div class="input-group mb-3">
                      <div class="" style="width: 220px;">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Sexo</button>
                        <div class="dropdown-menu" style="width: 220px;">
                          <a class="dropdown-item" href="#">Hembra</a>
                          <a class="dropdown-item" href="#">Macho</a>
          
                        </div>
                      </div>
                      <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
          
          
                    <div class="input-group mb-3">
                      <div class="" style="width: 220px;">
                        <span class="input-group-text" id="inputGroup-sizing-default">Alergias</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                    </div>
          
                    <div class="input-group mb-3">
                      <div class="" style="width: 220px;">
                        <span class="input-group-text" id="inputGroup-sizing-default">Corte</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                    </div>
          
                    <div class="input-group mb-3">
                      <div class="" style="width: 220px;">
                        <span class="input-group-text" id="inputGroup-sizing-default">Precio</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                    </div>
          
                    <div class="input-group mb-3">
                      <div class="" style="width: 220px;">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Servicio</button>
                        <div class="dropdown-menu" style="width: 220px;">
                          <a class="dropdown-item" href="#">Corte</a>
                          <a class="dropdown-item" href="#">Baño</a>
                          <a class="dropdown-item" href="#">Baño Medicado</a>
          
                        </div>
                      </div>
                      <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
          
          
                    <div class="input-group mb-3">
                      <div class="" style="width: 220px;">
                        <span class="input-group-text" style="height: 66px;">Observaciones</span>
                      </div>
                      <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
            
            
                        <a href="#" class="btn btn-info">Agregar nueva mascota</a>
                      </div>
                    </div>
                  </div>
            </div>
    
        </div>
      </div>

      </div>
      
  <!------------------------------------------------------------------------------------->

  <div class="Container Borde">
    <div class="bg">
      <button type="button" class="Center btn btn-secondary btn btn-info">Guardar</button>
      <button type="button" class="Center btn btn-secondary btn btn-info">Regresar</button>
    </div>
  </div>