  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">

        <div style="background-color: #343a40;">
          <div class="container">
      
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0 dark">¡Contacta con nosotros!</h6>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">
      
                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/laperruescarcega/?tn-str=k*F">
                  <i class="fa fa-facebook-f white-text mr-4 Blanco"></i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fa fa-door-open white-text Blanco"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic" href="https://instagram.com/madcoropitas?igshid=15f3ccbnur3rn">
                  <i class="fa fa-instagram white-text Blanco"> </i>
                </a>
      
              </div>
              <!-- Grid column -->
      
            </div>
            <!-- Grid row-->
      
          </div>
        </div>
      
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
      
          <!-- Grid row -->
          <div class="row mt-3">
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      
              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">MADCO Ropitas</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>La Perruqueria by MADCO Ropitas es la mejor empresa para el cuidado de tus mascotas,
                contamos con las atenciones necesarias como: estetica canina, servicio medico, estancias
                y por supuesto accesorios.</p>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Paginas</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                  <a href="https://www.facebook.com/laperruescarcega/?tn-str=k*F" class="links fuentesLink">Facebook</a>
              </p>
              <p>
                <a href="http://madcoropitas.info/" class="links fuentesLink">Sitio Web</a>
              </p>
              <p>
                <a href="https://instagram.com/madcoropitas?igshid=15f3ccbnur3rn" class="links fuentesLink">Instagram</a>
              </p>
              
      
            </div>
            <!-- Grid column -->
      
           
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contactos</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <i class="fa fa-home mr-3"></i> Calle 27 x 28, Col. Centro, Escarcega, Campeche, CP. 24350</p>
              <p>
                <i class="fa fa-envelope mr-3"></i> julieta.hdeez@gmail.com</p>
              <p>
                <i class="fa fa-phone mr-3"></i> 981 818 27 94</p>
              <p>
                <i class="fa fa-phone mr-3"></i> 982 107 31 52</p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          
          <a href="https://escarcega.tecnm.mx/" class="links"> ITSE Escarcega ISC</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->