footer{
    background: black;
}

.dark{
    color: black;
}

.fuenteGoogle{
    font-family: 'Poppins', sans-serif;
}

nav a img {
    width: 50px;
}

.Blanco{
    color: white;
}

.separador{
    padding-top: 0em;
}