
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand fuenteGoogle" href="">
      <img src="../assets/img/Logo-Madco.png" class="rounded-circle" alt="">
      MADCO WEB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li *ngIf="sesion == 1" class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/Inventario">Inventario</a>
            <a class="dropdown-item" href="/PI">Inventario Interno</a>
          </div>
        </li>

        
        <li *ngIf="sesion == 1" class="nav-item active">
          <a class="nav-link" href="/Ventas">Punto de Venta <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="sesion == 1" class="nav-item active">
          <a class="nav-link" href="/Registro">Registro</a>
        </li>
        <li *ngIf="sesion == 0" class="nav-item active">
          <a class="nav-link" href="/sesion">Inicio de Sesión</a>
        </li>

        <form #CerrandoData="ngForm" (ngSubmit)="saliendo(CerrandoData)" >
        <li *ngIf="sesion == 1" class="nav-item">
          
            <button class="btn btn-dark">Cerrar Sesion</button>
          
        </li>
      </form>



      </ul>

    </div>
  </nav>
