<div class="Estetica">
  <h3>
    <img src="../assets/img/HuellaTitulo.jpeg" class="rounded-circle TamañoImg" alt="">
    Punto de Venta <span class="badge badge-secondary"></span></h3>
</div>



<div class="Container Borde">


  <div class="bg">


    <!-- Button trigger modal -->
    <button type="button" style="height: 38px; margin-top: 20px;" class="btn btn-info" data-toggle="modal"
      data-target="#exampleModal">
      Cobrar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: hotpink;">
            <h5 class="modal-title" id="exampleModalLabel">Cuenta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-image: url('/assets/img/FondoModales.jpeg');">
            <form>
              <div class="form-row align-items-center">
                <div class="col-auto" style="width: 294px;">
                  <label class="sr-only" for="inlineFormInput">Total</label>
                  <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Total">
                </div>
                <div class="col-auto">

                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Recibido</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Recibido">
                  </div>
                </div>

                <div class="col-auto">
                  <input class="form-control" type="text" placeholder="Cambio" readonly>
                </div>

                <div class="col-auto">
                  <button type="submit" class="btn btn-dark mb-2">Cobrar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer" style="background-color: hotpink;">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-info">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" style="height: 38px; margin-top: 20px;" class="Center btn btn-info" data-toggle="modal"
      data-target="#exampleModalAgregar">
      Agregar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: hotpink;">
            <h5 class="modal-title" id="exampleModalCenterTitle">Agrega producto</h5>
            <button type="btn btn-info" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
            <div class="modal-fade" style="background-image: url('/assets/img/FondoModales.jpeg');">

              <form #agregando="ngForm" (ngSubmit)="enviando(agregando)">

              <input type="text" ngModel name = "NombreProducto" #NombreProducto
              class="Center form-control mr-sm-2" style="height: 38px; width: 250px; margin-top: 20px;" 
                placeholder="Nombre del producto">
              
              <button class="btn btn-info">Agregar</button>

                
              
            </form>

            </div>
            <div class="modal-footer" style="background-color: hotpink;">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

            </div>


          

        </div>
      </div>
    </div>
    
    
    <button type="button" class="Center btn btn-info" (click)="imprimir()">Corte</button>
      
    
    <!-- Button trigger modal -->
    <button type="button" style="height: 38px; margin-top: 20px;" class="Center btn btn-info" data-toggle="modal"
      data-target="#ModalEditar">
      Editar
    </button>

    <!-- Modal 
    <div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: hotpink;">
            <h5 class="modal-title" id="exampleModalCenterTitle">Editar Producto</h5>
            <button type="btn btn-info" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
            <div class="modal-fade" style="background-image: url('/assets/img/FondoModales.jpeg');">

              <form #edit="ngForm" (ngSubmit)="editando(edit)">
                <input id="searchTerm" ngModel name="productNameSearch" #productNameSearch class="form-control mr-sm-2" style="height: 38px; margin-top: 20px;" type="search text"
                placeholder="Buscar" aria-label="Search">
              <button class="btn btn-info my-2 my-sm-0 Buscar" style="height: 38px" type="submit">Buscar</button>
            </form>

            


            </div>
            <div class="modal-footer" style="background-color: hotpink;">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

            </div>


          

        </div>
      </div>
    </div>
  -->

    





    <!-- Button trigger modal -->
    <button type="button" class="Center btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
      Estética
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: hotpink;">
            <h5 class="modal-title" id="exampleModalCenterTitle">Nuestros clientes</h5>
            <button type="btn btn-info" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-image: url('/assets/img/FondoModales.jpeg');">
            <input id="txtFiltro" class="form-control mr-sm-2" style="height: 38px; margin-top: 20px;" type="text"
              placeholder="Nombre Cliente" aria-label="Search">
            <button class="btn btn-dark my-2 my-sm-0 Buscar" style="height: 38px" type="submit">
              <a href="/Registro" class="Corte">Buscar</a>
            </button>
          </div>
          <div class="modal-footer" style="background-color: hotpink;">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-info">
              <a href="/Registro" class="Corte">Nuevo cliente</a>
            </button>
          </div>
        </div>
      </div>
    </div>


    
    
  </div>

  <!-- <form>
    Cadena a buscar <input id="searchTerm" type="text" onkeyup="doSearch()" />
</form>  -->

  <div id="TableProducts">
    <table id="TableProducts" class="table table-dark">
      <thead>
        <tr>
          
          <th scope="col">Nombre Producto</th>
          <th scope="col">Precio</th>
          <th scope="col"></th>

        </tr>
        
      </thead>
      <tbody >
        <tr *ngFor="let Item of Tabla">
          <td >{{Item.nombreproducto}}</td>
          <td >{{Item.costoproducto}}</td>
          <td></td>

        </tr>
        <tr>
          
          <td class="text">Total</td>
          <td></td>
          <td class="text Total"></td>

        </tr>
      </tbody>
    </table>
  </div>

</div>