.bg{
    padding-left: 40% !important;
 }
.Center{
    margin: 20px !important; 
}

.Borde{
    margin-left: 15em !important;
    margin-right: 15em !important;
}

.TamañoImg{
    width: 20px;
    height: 20px;      
}