<form #ParaEditar="ngForm" (ngSubmit)="GuardarEdicionPi(ParaEditar)">
            
    <input type="text" ngModel = "{{IProducts.nombrepi}}" name = "NombreProducto" #NombreProducto class="Center form-control mr-sm-2"
    style="height: 38px; width: 250px; margin-top: 20px;"  placeholder="Nombre del producto">
  
    <input type="text" ngModel = "{{IProducts.costo}}"  name = "CostoProducto" #CostoProducto class="Center form-control mr-sm-2"
    style="height: 38px; width: 250px; margin-top: 20px;"  placeholder="Precio del producto">

    <input type="text" ngModel = "{{IProducts.stock}}"  name = "stock" #stock class="Center form-control mr-sm-2"
    style="height: 38px; width: 250px; margin-top: 20px;"  placeholder="Stock">
  
    <input type="text" ngModel = "{{IProducts.fechadecomprapi}}" name = "fechadecompra" #fechadecompra class="Center form-control mr-sm-2"
    style="height: 38px; width: 250px; margin-top: 20px;"  placeholder="Fecha del Producto">
  
  <div class="Center">
    <button class="btn btn-info">Guardar</button>

  </div>
</form>